<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kh.mappers.BoardMapper">
	
	<!-- 글 목록 리스트 -->
	<select id="getBoardList" resultType="BoardVo">
		select * from tbl_board b, tbl_user u
		where b.user_email = u.user_email
		order by b.board_notice desc, b.board_num desc
	</select>
	
	<!-- 글 작성하기 -->
	<insert id="insertBoard" >
		insert into tbl_board(board_num, user_email, board_title, board_content, board_notice) 
		values(seq_board_num.nextval, #{user_email}, #{board_title}, #{board_content}, #{board_notice})
	</insert>

	<!-- 글 수정하기 -->
	<update id="updateBoard">
		update tbl_board set
							 board_title = #{board_title}, 
							 board_content = #{board_content},
							 board_notice = #{board_notice}
		where board_num = #{board_num}
							 
	</update>
	
	<delete id="deleteBoard">
		delete tbl_board where board_num = #{board_num}
	</delete>

	<!-- 글 상세보기 -->
	<select id="getBoardDetail" resultType="BoardVo">
		select * from tbl_board where board_num = #{board_num}
	</select>
  
</mapper>