<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kh.mappers.BooDatepickerMapper">
	
	<select id="getEndDate" resultType="String">
		select to_char(room_reserv_start_date, 'YYYY-MM-DD') from
		(select rownum rnum, a.*from
		(select room_reserv_start_date from tbl_reservation
		where room_num = #{room_num} and room_reserv_start_date > #{date}
		order by room_reserv_start_date)a)
		where rnum=1
	</select>
	
<!-- 	방번호에 해당하는 reserv_num들을 받는다 -->
	<select id="getReservNumList" resultType="int">
		select reserv_num from tbl_reservation
		where room_num = #{room_num}
	</select>
	
<!-- 	reserv_num의 일수 차이를 구한다(반복문 이용에 사용함) -->
	<select id="getReservIndexNum" resultType="int">
		select to_number(cast(room_reserv_end_date as date) - cast(room_reserv_start_date as date)) from tbl_reservation
		where reserv_num = #{reserv_num}
	</select>
	
<!-- 	reserv_num에 해당하는 일를 얻는다 -->
	<select id="getCheckInIndex" resultType="String">
		select to_char(room_reserv_start_date + #{num}, 'YYYY-MM-DD')
		from tbl_reservation
		where reserv_num = #{reserv_num}
	</select>
	
<!-- 	공개, 비공개 확인용 -->
	<select id="getRoomStatus" resultType="String">
		select room_status from tbl_room
		where room_num = #{room_num}
	</select>
	
<!-- 	찜목록에 있는지 판별 -->
	<select id="getLikeNum" resultType="int">
		select count(*) from tbl_like
		where room_num = #{room_num} and user_email = #{user_email}
	</select>
	
<!-- 	찜목록에 추가 하기 -->
	<insert id="insertLike">
		insert into tbl_like (like_num, room_num, user_email)
		values (seq_like_num.nextval, #{room_num}, #{user_email})
	</insert>
	
<!-- 	찜목록에서 삭제 하기 -->
	<delete id="deleteLike">
		delete from tbl_like
		where room_num = #{room_num} and user_email = #{user_email}
	</delete>
	
</mapper>