<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kh.mappers.BooPointListMapper">
	
<!-- 	포인트 사용 내역 테이블 보여주기 -->
	<select id="getPointList" resultType="PointDto">
		select poi.point_num, poi.user_email, poi.point_date, poi.point_score, code.point_code_explain, room.room_title
		from tbl_point poi, tbl_point_code code, tbl_room room
		where poi.point_code = code.point_code and poi.room_num = room.room_num
		order by point_num desc
	</select>
	
</mapper>