<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kh.mappers.HostMapper">
	<!-- 호스트 등록하기 -->
	<insert id="registerHost">
		insert into tbl_host (user_email, room_num)
		values (#{user_email}, #{room_num})
	</insert>

</mapper>