<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kh.mappers.LikeMapper">
	<select id="getLikeList" resultType="LikeDto">
		select l.like_num, r.room_num, r.room_title, r.room_price
		from tbl_room r, tbl_like l
		where r.room_num = l.room_num
		and l.user_email = #{user_email}
	</select>
	
	<delete id="deleteLike">
		delete from tbl_like
		where like_num = #{like_num}
	</delete>
</mapper>