<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kh.mappers.ReservationMapper">

	<!-- 예약 목록 보기 테스트-->
	<select id="getReservationList" resultType="ReservationVo">
		select * from tbl_reservation
		where user_email = #{user_email}
	</select>
	
	<!-- 시퀀스 값 얻기 -->
	<select id="getNextVal" resultType="int">
		select seq_reserv_num.nextval
		from dual
	</select>
	
	<!-- 예약 등록하기 테스트 -->
	<insert id="insertReservation">
		insert into tbl_reservation(reserv_num, room_num, user_email, room_reserv_start_date, room_reserv_end_date, room_score)
		values(#{reserv_num}, #{room_num}, #{user_email}, #{room_reserv_start_date}, #{room_reserv_end_date}, #{room_score})
	</insert>
  
</mapper>