<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kh.mappers.RoomDetailMapper">

	<!-- 방 목록 보기 -->
	<select id="getRoomList" resultType="RoomVo">
		select * from tbl_room where room_location like '%울산%'
	</select>
  
</mapper>