<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kh.mappers.RoomOptionMapper">

	<!-- select RoomOption -->
	<select id="getRoomOptionList" resultType="RoomOptionVo">
		select * from tbl_room_option order by room_option_explain asc
	</select>
  
</mapper>