<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kh.mappers.UserMapper">

	<!-- 유저 정보 저장 -->
	<insert id="setUserData">
		insert into tbl_user (user_email, user_pw, user_name, user_phone)
		values (#{user_email}, #{user_pw}, #{user_name}, #{user_phone})
	</insert>
	
<!-- 	회원정보(아이디 비밀번호) 얻기 -->
	<select id="login_run" resultType="UserVo">
		select * from tbl_user
		where user_email = #{user_email} and user_pw = #{user_pw}
	</select>
	
<!-- 	회원정보 얻기 -->
	<select id="getUserData" resultType="UserVo">
		select * from tbl_user
		where user_email = #{user_email}
	</select>

<!-- 	회원정보 수정 -->
	<update id="userUpdate">
		update tbl_user set
		user_name = #{user_name},
		user_pic = #{user_pic},
		user_phone = #{user_phone}
		where user_email = #{user_email}
	</update>
<!-- 	회원비밀번호 확인 -->
	<select id="foundPassword" resultType="String">
		select user_pw from tbl_user
		where user_email = #{user_email}
	</select>
<!-- 	비밀번호 수정 -->
	<update id="updatePassword">
		update tbl_user set
		user_pw = #{user_pw}
		where user_email = #{user_email}
	</update>
	
	<select id="getHomeReview" resultType="HomeReviewDto">
		select * from
		(select rownum rnum, a.* from
		(select r.room_title, u.user_name, v.room_review_text, u.user_pic, r.room_num from tbl_user u, tbl_room r, tbl_room_review v
		where v.user_email = u.user_email and v.room_num = r.room_num
		order by v.room_review_write_date desc)a)
		where rnum &gt;= 1 and rnum &lt;= 5
	</select>
	
	<select id="getHomeHomes" resultType="HomeHomesDto">
	select * from (select rownum rnum, a.* 
	               from (select * 
	                     from (select room_num room_num2, pic_uri
	                           from (select room_num, pic_uri, row_number() over(partition by room_num order by room_num desc) as rn
	                                 from tbl_room_picture
	                                 )       
	                           where rn = 1) r,
	                    (select * from tbl_room) rp
	                where r.room_num2 = rp.room_num
	                order by room_num desc) a)
	where rnum &gt;=1 and rnum &lt;= 2
	</select>
	<select id="getMoreHomeHomes" resultType="HomeHomesDto">
	select * from (select rownum rnum, a.* 
	               from (select * 
	                     from (select room_num room_num2, pic_uri
	                           from (select room_num, pic_uri, row_number() over(partition by room_num order by room_num desc) as rn
	                                 from tbl_room_picture
	                                 )       
	                           where rn = 1) r,
	                    (select * from tbl_room
	                     where room_admin_check = 'Y')
	                     rp
	                where r.room_num2 = rp.room_num
	                order by room_num desc) a)
	where rnum &gt;=#{moreNum1} and rnum &lt;= #{moreNum2}
	</select>
	
	<insert id="setPointList">
		insert into tbl_point (point_num, user_email, point_code, point_score, room_num)
		values (seq_point_num.nextval, 'qngus0124@gmail.com', 'R4', 1000000, 0)
	</insert>
	
</mapper>